In [76]:
# Data Set for Heart Disease

In [77]:
library(tidyverse)
library(repr)
library(rvest)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [78]:
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
heart_data <- as_tibble(read.table(url, sep = ",", header = FALSE, na.strings = "?"))

# display the data
heart_data

    V1 V2 V3 V4  V5  V6 V7 V8  V9 V10 V11 V12 V13 V14
1   63 1  1  145 233 1  2  150 0  2.3 3   0   6   0
2   67 1  4  160 286 0  2  108 1  1.5 2   3   3   2
3   67 1  4  120 229 0  2  129 1  2.6 2   2   7   1
⋮   ⋮  ⋮  ⋮  ⋮   ⋮   ⋮  ⋮  ⋮   ⋮  ⋮   ⋮   ⋮   ⋮   ⋮
301 57 1  4  130 131 0  0  115 1  1.2 2    1  7   3
302 57 0  2  130 236 0  2  174 0  0.0 2    1  3   1
303 38 1  3  138 175 0  0  173 0  0.0 1   NA  3   0

In [79]:
# add column names
colnames(heart_data) <- c("age", "sex", "chest_pain_type", "resting_blood_pressure", "cholesterol", "fasting_blood_sugar", "resting_electro_results", "max_heart_rate", "exercise_induced_angina", "depression", "peak_exercise", "number_vessels", "normality", "heart_disease_diagnosis")

heart_data

    age sex chest_pain_type resting_blood_pressure cholesterol
1   63  1   1               145                    233
2   67  1   4               160                    286
3   67  1   4               120                    229
⋮   ⋮   ⋮   ⋮               ⋮                      ⋮
301 57  1   4               130                    131
302 57  0   2               130                    236
303 38  1   3               138                    175
    fasting_blood_sugar resting_electro_results max_heart_rate
1   1                   2                       150
2   0                   2                       108
3   0                   2                       129
⋮   ⋮                   ⋮                       ⋮
301 0                   0                       115
302 0                   2                       174
303 0                   0                       173
    exercise_induced_angina depression peak_exercise number_vessels normality
1   0                       2.3        3             0              6
2   1                       1.5        2             3              3
3   1                       2.6        2             2              7
⋮   ⋮                       ⋮          ⋮             ⋮              ⋮
301 1                       1.2        2              1             7
302 0                       0.0        2              1             3
303 0                       0.0        1             NA             3
    heart_disease_diagnosis
1   0
2   2
3   1
⋮   ⋮
301 3
302 1
303 0

In [80]:
# clean the data
heart_data <- heart_data |>
    select(age, sex, chest_pain_type, resting_blood_pressure, cholesterol, peak_exercise, normality, heart_disease_diagnosis) |>
    mutate(heart_disease_diagnosis = case_when(heart_disease_diagnosis == 0 ~ "negative",
                                heart_disease_diagnosis == 1 ~ "positive",
                                heart_disease_diagnosis == 2 ~ "positive",
                                heart_disease_diagnosis == 3 ~ "positive",
                                heart_disease_diagnosis == 4 ~ "positive"))
heart_data

    age sex chest_pain_type resting_blood_pressure cholesterol peak_exercise
1   63  1   1               145                    233         3
2   67  1   4               160                    286         2
3   67  1   4               120                    229         2
⋮   ⋮   ⋮   ⋮               ⋮                      ⋮           ⋮
301 57  1   4               130                    131         2
302 57  0   2               130                    236         2
303 38  1   3               138                    175         1
    normality heart_disease_diagnosis
1   6         negative
2   3         positive
3   7         positive
⋮   ⋮         ⋮
301 7         positive
302 3         positive
303 3         negative

Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data.

In [85]:
# split into testing and training data
heart_data_split <- initial_split(heart_data, prop = 0.75, strata = heart_disease_diagnosis)
heart_data_training_set <- training(heart_data_split)
heart_data_testing_set <- testing(heart_data_split)

# exploratory data analysis
exploratory_data <- heart_data_training_set |>
    group_by(heart_disease_diagnosis) |>
    summarize(count = n())

exploratory_data

  heart_disease_diagnosis count
1 negative                123
2 positive                104

Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.