In [9]:
# Data Set for Heart Disease

In [14]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source("tests.R")
source('cleanup.R')

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [12]:
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
heart_data <- read.table(url, sep = ",", header = FALSE, na.strings = "?")

In [13]:
heart_data

    V1 V2 V3 V4  V5  V6 V7 V8  V9 V10 V11 V12 V13 V14
1   63 1  1  145 233 1  2  150 0  2.3 3   0   6   0
2   67 1  4  160 286 0  2  108 1  1.5 2   3   3   2
3   67 1  4  120 229 0  2  129 1  2.6 2   2   7   1
⋮   ⋮  ⋮  ⋮  ⋮   ⋮   ⋮  ⋮  ⋮   ⋮  ⋮   ⋮   ⋮   ⋮   ⋮
301 57 1  4  130 131 0  0  115 1  1.2 2    1  7   3
302 57 0  2  130 236 0  2  174 0  0.0 2    1  3   1
303 38 1  3  138 175 0  0  173 0  0.0 1   NA  3   0